swagger: '2.0'
info:
  title: Maily Herald API
  description: Access Maily Herald data via API.
  version: 1.0.0
host: mailyherald.org
schemes:
  - http
basePath: /maily_herald/api/v1
produces:
  - application/json
paths:
  /lists:
    get:
      operationId: get_lists
      description: Get all lists.
      summary: Get all lists.
      tags:
        - lists
      parameters:
        - name: lists
          in: body
          description: >-
            'Per', 'page' and 'query' param allowed.
          required: true
          schema:
            type: object
            properties:
              page:
                type: integer
                default: 1
                description: Page number
              per:
                type: integer
                default: 10
                description: Number of lists returned per page
              query:
                type: string
                description: Filters lists by name or title.
      responses:
        '200':
          description: Operation successful
          schema:
            properties:
              meta:
                $ref: '#/definitions/Meta'
              lists:
                type: array
                description: Collection of serialized MailyHerald::List objects
                items:
                  $ref: '#/definitions/List'
    post:
      operationId: create_new_list
      description: Create new list.
      summary: Create new list.
      tags:
        - lists
      parameters:
        - name: lists
          in: body
          required: true
          schema:
            type: object
            properties:
              list:
                type: object
                properties:
                  title:
                    type: string
                    description: >-
                      List's new title.
                      Name will defined from this attribute e.g.:
                        - 'New List Title' will have name 'new_list_title'
                        - 'NewListTitle' will have name 'newlisttitle'
                  context_name:
                    type: string
                    description: MailyHerald::Context name, which was previously created (in the initializer).
      responses:
        '200':
          description: Success
          schema:
            properties:
              list:
                $ref: '#/definitions/List'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  name:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  context_name:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
  '/lists/{id}':
    get:
      operationId: get_list
      description: Get list.
      summary: Get list.
      tags:
        - lists
      parameters:
        - name: id
          in: path
          description: ID of a list.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              list:
                $ref: '#/definitions/List'
        '404':
          description: List not found.
    put:
      operationId: update_list
      description: Update list.
      summary: Update list.
      tags:
        - lists
      parameters:
        - name: id
          in: path
          description: ID of a list.
          required: true
          type: integer
          format: int64
        - name: lists
          in: body
          required: true
          schema:
            type: object
            properties:
              list:
                type: object
                properties:
                  title:
                    type: string
                    description: List's new title. Name will remain unchanged.
                  context_name:
                    type: string
                    description: MailyHerald::Context name, which was previously created (in the initializer).
      responses:
        '200':
          description: Success
          schema:
            properties:
              list:
                $ref: '#/definitions/List'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  base:
                    type: array
                    items:
                      type: string
                      description: Cannot update locked list.
                      enum:
                        - locked
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  context_name:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
    delete:
      operationId: destroy_list
      description: Destroy list.
      summary: Destroy list.
      tags:
        - lists
      parameters:
        - name: id
          in: path
          description: ID of a list.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '404':
          description: List not found.
  '/lists/{list_id}/subscriptions':
    get:
      operationId: get_list_subscriptions
      description: Get list subscriptions.
      summary: Get list subscriptions.
      tags:
        - subscriptions
      parameters:
        - name: list_id
          in: path
          description: ID of a list.
          required: true
          type: integer
          format: int64
        - name: subscriptions
          in: body
          description: >-
            'kind' param allowed - specify 'active' if you want the list of active subscriptions only. Otherwise, you will get the list of all subscriptions.
          schema:
            type: object
            properties:
              kind:
                type: string
              page:
                type: integer
                default: 1
                description: Page number
              per:
                type: integer
                default: 10
                description: Number of lists returned per page
      responses:
        '200':
          description: Success
          schema:
            properties:
              meta:
                $ref: '#/definitions/Meta'
              subscriptions:
                type: array
                description: Collection of serialized MailyHerald::Subscription objects
                items:
                  $ref: '#/definitions/Subscription'
        '404':
          description: List not found.
  '/lists/{id}/subscribe/{entity_id}':
    post:
      operationId: subscribe_entity_to_list
      description: Subscribe an entity to a list.
      summary: Subscribe an entity to a list.
      tags:
        - lists
      parameters:
        - name: id
          in: path
          description: ID of a list.
          required: true
          type: integer
          format: int64
        - name: entity_id
          in: path
          description: ID of an entity (e.g. User).
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              subscription:
                $ref: '#/definitions/Subscription'
        '404':
          description: List or entity not found.
  '/lists/{id}/unsubscribe/{entity_id}':
    post:
      operationId: unsubscribe_entity_to_list
      description: Unsubscribe an entity to a list.
      summary: Unsubscribe an entity to a list.
      tags:
        - lists
      parameters:
        - name: id
          in: path
          description: ID of a list.
          required: true
          type: integer
          format: int64
        - name: entity_id
          in: path
          description: ID of an entity (e.g. User).
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              subscription:
                $ref: '#/definitions/Subscription'
        '404':
          description: List or entity not found.
  /contexts:
    get:
      operationId: get_contexts
      description: Get all contexts.
      summary: Get all contexts.
      tags:
        - contexts
      responses:
        '200':
          description: Operation successful
          schema:
            properties:
              contexts:
                type: array
                description: Collection of serialized MailyHerald::Context objects
                items:
                  $ref: '#/definitions/Context'
  '/contexts/{context_name}':
    get:
      operationId: get_context
      description: Get context.
      summary: Get context.
      tags:
        - contexts
      parameters:
        - name: context_name
          in: path
          description: ID of a context.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              context:
                $ref: '#/definitions/Context'
        '404':
          description: Context not found.
  /ad_hoc_mailings:
    get:
      operationId: get_ad_hoc_mailings
      description: Get all ad hoc mailings.
      summary: Get all ad hoc mailings.
      tags:
        - adHocMailings
      parameters:
        - name: ad_hoc_mailing
          in: body
          description: >-
            'Per', 'page', 'query' and 'state' param allowed.
          required: true
          schema:
            type: object
            properties:
              page:
                type: integer
                default: 1
                description: Page number
              per:
                type: integer
                default: 10
                description: Number of ad hoc mailings returned per page
              query:
                type: string
                description: Filters ad hoc mailings by name or title.
              state:
                type: string
                description: >-
                  When not specified all objects are return regardless their state. Allowed states:
                    - enabled
                    - disabled
                    - archived
                    - not_archived
      responses:
        '200':
          description: Operation successful
          schema:
            properties:
              meta:
                $ref: '#/definitions/Meta'
              adHocMailings:
                type: array
                description: Collection of serialized MailyHerald::AdHocMailing objects
                items:
                  $ref: '#/definitions/AdHocMailing'
    post:
      operationId: create_new_ad_hoc_mailing
      description: Create new ad hoc mailing.
      summary: Create new ad hoc mailing.
      tags:
        - adHocMailings
      parameters:
        - name: ad_hoc_mailing
          in: body
          required: true
          schema:
            type: object
            properties:
              ad_hoc_mailing:
                type: object
                properties:
                  title:
                    required: true
                    type: string
                    description: >-
                      Ad hoc mailing's new title.
                      Name will defined from this attribute e.g.:
                        - 'New Ad hoc mailing' will have name 'new_ad_hoc_mailing'
                        - 'NewAdHocMailing' will have name 'newadhocmailing'
                  subject:
                    required: true
                    type: string
                    description: Ad hoc mailing's subject.
                  template:
                    required: true
                    type: string
                    description: Ad hoc mailing's template. Will be validated against Liquid syntax.
                  list:
                    required: true
                    type: string
                    description: Previously created MailyHerald::List object's name.
                  from:
                    type: string
                    description: If not specified, default value will be used.
                  conditions:
                    type: string
                    description: After validation has to return boolean value.
                  mailer_name:
                    type: string
                    description: Has to be previously created mailer.
      responses:
        '200':
          description: Success
          schema:
            properties:
              adHocMailing:
                $ref: '#/definitions/AdHocMailing'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  name:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  subject:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  template:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - syntaxError
                  list:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  conditions:
                    type: array
                    items:
                      type: string
                      enum:
                        - notBoolean
                  mailerName:
                    type: array
                    items:
                      type: string
                      enum:
                        - invalid
  '/ad_hoc_mailings/{id}':
    get:
      operationId: get_ad_hoc_mailing
      description: Get ad hoc mailing.
      summary: Get ad hoc mailing.
      tags:
        - adHocMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::AdHocMailing.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              adHocMailing:
                $ref: '#/definitions/AdHocMailing'
        '404':
          description: MailyHerald::AdHocMailing not found.
    put:
      operationId: update_ad_hoc_mailing
      description: Update ad hoc mailing.
      summary: Update ad hoc mailing.
      tags:
        - adHocMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::AdHocMailing.
          required: true
          type: integer
          format: int64
        - name: ad_hoc_mailing
          in: body
          required: true
          schema:
            type: object
            properties:
              ad_hoc_mailing:
                type: object
                properties:
                  title:
                    type: string
                    description: List's new title. Name will remain unchanged.
                  subject:
                    type: string
                    description: Ad hoc mailing's new subject.
                  template:
                    type: string
                    description: Ad hoc mailing's new template. Will be validated against Liquid syntax.
                  list:
                    type: string
                    description: Previously created MailyHerald::List object's name.
                  from:
                    type: string
                    description: If not specified, default value will be used.
                  conditions:
                    type: string
                    description: After validation has to return boolean value.
                  mailer_name:
                    type: string
                    description: Has to be previously created mailer.
      responses:
        '200':
          description: Success
          schema:
            properties:
              adHocMailing:
                $ref: '#/definitions/AdHocMailing'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  base:
                    type: array
                    items:
                      type: string
                      enum:
                        - locked
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  template:
                    type: array
                    items:
                      type: string
                      enum:
                        - syntaxError
                  list:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  conditions:
                    type: array
                    items:
                      type: string
                      enum:
                        - notBoolean
                  mailerName:
                    type: array
                    items:
                      type: string
                      enum:
                        - invalid
    delete:
      operationId: archive_ad_hoc_mailing
      description: >-
        We does not allow to destroy mailing - instead its state is changed to 'archived'.
      summary: Archiving mailing.
      tags:
        - adHocMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::AdHocMailing.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              adHocMailing:
                $ref: '#/definitions/AdHocMailing'
        '404':
          description: MailyHerald::AdHocMailing not found.
  '/ad_hoc_mailings/{id}/preview/{entity_id}':
    get:
      operationId: get_ad_hoc_mailing_preview
      description: Get ad hoc mailing preview for given entity.
      summary: Get ad hoc mailing's preview.
      tags:
        - mailPreviews
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::AdHocMailing.
          required: true
          type: integer
          format: int64
        - name: entity_id
          in: path
          description: ID of a entity e.g. User.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              mailPreview:
                $ref: '#/definitions/MailPreview'
        '404':
          description: MailyHerald::AdHocMailing or entity not found.
  '/ad_hoc_mailings/{id}/deliver':
    get:
      operationId: schedule_ad_hoc_mailing_for_all_entities
      description: Schedule ad hoc mailing for all enities.
      summary: Schedule ad hoc mailing for all enities.
      tags:
        - schedules
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::AdHocMailing.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '404':
          description: MailyHerald::AdHocMailing not found.
  '/ad_hoc_mailings/{id}/deliver/{entity_id}':
    get:
      operationId: schedule_ad_hoc_mailing_for_entity
      description: Schedule ad hoc mailing for given entity.
      summary: Schedule ad hoc mailing for given entity.
      tags:
        - schedules
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::AdHocMailing.
          required: true
          type: integer
          format: int64
        - name: entity_id
          in: path
          description: ID of a entity e.g. User.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
        '404':
          description: MailyHerald::AdHocMailing or entity not found.
  /one_time_mailings:
    get:
      operationId: get_one_time_mailings
      description: Get all one time mailings.
      summary: Get all one time mailings.
      tags:
        - oneTimeMailings
      parameters:
        - name: one_time_mailing
          in: body
          description: >-
            'Per', 'page', 'query' and 'state' param allowed.
          required: true
          schema:
            type: object
            properties:
              page:
                type: integer
                default: 1
                description: Page number
              per:
                type: integer
                default: 10
                description: Number of one time mailings returned per page
              query:
                type: string
                description: Filters one time mailings by name or title.
              state:
                type: string
                description: >-
                  When not specified all objects are return regardless their state. Allowed states:
                    - enabled
                    - disabled
                    - archived
                    - not_archived
      responses:
        '200':
          description: Operation successful
          schema:
            properties:
              meta:
                $ref: '#/definitions/Meta'
              oneTimeMailings:
                type: array
                description: Collection of serialized MailyHerald::OneTimeMailing objects
                items:
                  $ref: '#/definitions/OneTimeMailing'
    post:
      operationId: create_new_one_time_mailing
      description: Create new one time mailing.
      summary: Create new one time mailing.
      tags:
        - oneTimeMailings
      parameters:
        - name: one_time_mailing
          in: body
          required: true
          schema:
            type: object
            properties:
              one_time_mailing:
                type: object
                properties:
                  title:
                    required: true
                    type: string
                    description: >-
                      One time mailing's new title.
                      Name will defined from this attribute e.g.:
                        - 'New one time mailing' will have name 'new_one_time_mailing'
                        - 'NewOneTimeMailing' will have name 'newonetimemailing'
                  subject:
                    required: true
                    type: string
                    description: One time mailing's subject.
                  template:
                    required: true
                    type: string
                    description: One time mailing's template. Will be validated against Liquid syntax.
                  list:
                    required: true
                    type: string
                    description: Previously created MailyHerald::List object's name.
                  from:
                    type: string
                    description: If not specified, default value will be used.
                  conditions:
                    type: string
                    description: After validation has to return boolean value.
                  mailer_name:
                    type: string
                    description: Has to be previously created mailer.
                  start_at:
                    type: string
                    description: >-
                      Date with time as a string. Can be described with Liquid syntax e.g. "user.created_at | plus: 5, 'minutes'", but it have to return time value.
      responses:
        '200':
          description: Success
          schema:
            properties:
              oneTimeMailing:
                $ref: '#/definitions/OneTimeMailing'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  name:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  subject:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  template:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - syntaxError
                  list:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  conditions:
                    type: array
                    items:
                      type: string
                      enum:
                        - notBoolean
                  mailerName:
                    type: array
                    items:
                      type: string
                      enum:
                        - invalid
                  startAt:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - notTime
  '/one_time_mailings/{id}':
    get:
      operationId: get_one_time_mailing
      description: Get one time mailing.
      summary: Get one time mailing.
      tags:
        - oneTimeMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::OneTimeMailing.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              oneTimeMailing:
                $ref: '#/definitions/OneTimeMailing'
        '404':
          description: MailyHerald::OneTimeMailing not found.
    put:
      operationId: update_aone_time_mailing
      description: Update one time mailing.
      summary: Update one time mailing.
      tags:
        - oneTimeMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::OneTimeMailing.
          required: true
          type: integer
          format: int64
        - name: one_time_mailing
          in: body
          required: true
          schema:
            type: object
            properties:
              one_time_mailing:
                type: object
                properties:
                  title:
                    type: string
                    description: List's new title. Name will remain unchanged.
                  subject:
                    type: string
                    description: One time mailing's new subject.
                  template:
                    type: string
                    description: One time's new template. Will be validated against Liquid syntax.
                  list:
                    type: string
                    description: Previously created MailyHerald::List object's name.
                  from:
                    type: string
                    description: If not specified, default value will be used.
                  conditions:
                    type: string
                    description: After validation has to return boolean value.
                  mailer_name:
                    type: string
                    description: Has to be previously created mailer.
                  start_at:
                    type: string
                    description: One time mailing's new start_at.
      responses:
        '200':
          description: Success
          schema:
            properties:
              oneTimeMailing:
                $ref: '#/definitions/OneTimeMailing'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  base:
                    type: array
                    items:
                      type: string
                      enum:
                        - locked
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  template:
                    type: array
                    items:
                      type: string
                      enum:
                        - syntaxError
                  list:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  conditions:
                    type: array
                    items:
                      type: string
                      enum:
                        - notBoolean
                  mailerName:
                    type: array
                    items:
                      type: string
                      enum:
                        - invalid
                  startAt:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - notTime
    delete:
      operationId: archive_one_time_mailing
      description: >-
        We does not allow to destroy mailing - instead its state is changed to 'archived'.
      summary: Archiving mailing.
      tags:
        - oneTimeMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::OneTimeMailing.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              oneTimeMailing:
                $ref: '#/definitions/OneTimeMailing'
        '404':
          description: MailyHerald::OneTimeMailing not found.
  '/one_time_mailings/{id}/preview/{entity_id}':
    get:
      operationId: get_one_time_mailing_preview
      description: Get one time mailing preview for given entity.
      summary: Get one time mailing's preview.
      tags:
        - mailPreviews
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::OneTimeMailing.
          required: true
          type: integer
          format: int64
        - name: entity_id
          in: path
          description: ID of a entity e.g. User.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              mailPreview:
                $ref: '#/definitions/MailPreview'
        '404':
          description: MailyHerald::OneTimeMailing or entity not found.
  /periodical_mailings:
    get:
      operationId: get_periodical_mailings
      description: Get all periodical mailings.
      summary: Get all periodical mailings.
      tags:
        - periodicalMailings
      parameters:
        - name: periodical_mailing
          in: body
          description: >-
            'Per', 'page', 'query' and 'state' param allowed.
          required: true
          schema:
            type: object
            properties:
              page:
                type: integer
                default: 1
                description: Page number
              per:
                type: integer
                default: 10
                description: Number of periodical mailings returned per page
              query:
                type: string
                description: Filters periodical mailings by name or title.
              state:
                type: string
                description: >-
                  When not specified all objects are return regardless their state. Allowed states:
                    - enabled
                    - disabled
                    - archived
                    - not_archived
      responses:
        '200':
          description: Operation successful
          schema:
            properties:
              meta:
                $ref: '#/definitions/Meta'
              periodicalMailings:
                type: array
                description: Collection of serialized MailyHerald::PeriodicalMailing objects
                items:
                  $ref: '#/definitions/PeriodicalMailing'
    post:
      operationId: create_new_periodical_mailing
      description: Create new periodical mailing.
      summary: Create new periodical mailing.
      tags:
        - periodicalMailings
      parameters:
        - name: periodical_mailing
          in: body
          required: true
          schema:
            type: object
            properties:
              periodical_mailing:
                type: object
                properties:
                  title:
                    required: true
                    type: string
                    description: >-
                      Periodical mailing's new title.
                      Name will defined from this attribute e.g.:
                        - 'New periodical mailing' will have name 'new_periodical_mailing'
                        - 'NewPeriodicalMailing' will have name 'newperiodicalmailing'
                  subject:
                    required: true
                    type: string
                    description: Periodical mailing's subject.
                  template:
                    required: true
                    type: string
                    description: Periodical mailing's template. Will be validated against Liquid syntax.
                  list:
                    required: true
                    type: string
                    description: Previously created MailyHerald::List object's name.
                  from:
                    type: string
                    description: If not specified, default value will be used.
                  conditions:
                    type: string
                    description: After validation has to return boolean value.
                  mailer_name:
                    type: string
                    description: Has to be previously created mailer.
                  start_at:
                    type: string
                    description: >-
                      Date with time as a string. Can be described with Liquid syntax e.g. "user.created_at | plus: 5, 'minutes'", but it have to return time value.
                  period_in_days:
                    type: integer
                    description: Amount of time between consecutive mailing deliveries.
      responses:
        '200':
          description: Success
          schema:
            properties:
              periodicalMailing:
                $ref: '#/definitions/PeriodicalMailing'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  name:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  subject:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  template:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - syntaxError
                  list:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  conditions:
                    type: array
                    items:
                      type: string
                      enum:
                        - notBoolean
                  mailerName:
                    type: array
                    items:
                      type: string
                      enum:
                        - invalid
                  startAt:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - notTime
                  period:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - greaterThan0
  '/periodical_mailings/{id}':
    get:
      operationId: get_periodical_mailing
      description: Get periodical mailing.
      summary: Get periodical mailing.
      tags:
        - periodicalMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::PeriodicalMailing.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              periodicalMailing:
                $ref: '#/definitions/PeriodicalMailing'
        '404':
          description: MailyHerald::PeriodicalMailing not found.
    put:
      operationId: update_periodical_mailing
      description: Update periodical mailing.
      summary: Update periodical mailing.
      tags:
        - periodicalMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::PeriodicalMailing.
          required: true
          type: integer
          format: int64
        - name: periodical_mailing
          in: body
          required: true
          schema:
            type: object
            properties:
              periodical_mailing:
                type: object
                properties:
                  title:
                    type: string
                    description: List's new title. Name will remain unchanged.
                  subject:
                    type: string
                    description: Periodical mailing's new subject.
                  template:
                    type: string
                    description: Periodical's new template. Will be validated against Liquid syntax.
                  list:
                    type: string
                    description: Previously created MailyHerald::List object's name.
                  from:
                    type: string
                    description: If not specified, default value will be used.
                  conditions:
                    type: string
                    description: After validation has to return boolean value.
                  mailer_name:
                    type: string
                    description: Has to be previously created mailer.
                  start_at:
                    type: string
                    description: Periodical mailing's new start_at.
                  period_in_days:
                    type: integer
                    description: Amount of time between consecutive mailing deliveries.
      responses:
        '200':
          description: Success
          schema:
            properties:
              periodicalMailing:
                $ref: '#/definitions/PeriodicalMailing'
        '422':
          description: Validation failed.
          schema:
            properties:
              errors:
                type: object
                properties:
                  base:
                    type: array
                    items:
                      type: string
                      enum:
                        - locked
                  title:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  template:
                    type: array
                    items:
                      type: string
                      enum:
                        - syntaxError
                  list:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                  conditions:
                    type: array
                    items:
                      type: string
                      enum:
                        - notBoolean
                  mailerName:
                    type: array
                    items:
                      type: string
                      enum:
                        - invalid
                  startAt:
                    type: array
                    items:
                      type: string
                      enum:
                        - blank
                        - notTime
                  period:
                    type: array
                    items:
                      type: string
                      enum:
                        - greaterThan0
    delete:
      operationId: archive_periodical_mailing
      description: >-
        We does not allow to destroy mailing - instead its state is changed to 'archived'.
      summary: Archiving mailing.
      tags:
        - periodicalMailings
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::PeriodicalMailing.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              periodicalMailing:
                $ref: '#/definitions/PeriodicalMailing'
        '404':
          description: MailyHerald::PeriodicalMailing not found.
  '/periodical_mailings/{id}/preview/{entity_id}':
    get:
      operationId: get_periodical_mailing_preview
      description: Get periodical mailing preview for given entity.
      summary: Get periodical mailing's preview.
      tags:
        - mailPreviews
      parameters:
        - name: id
          in: path
          description: ID of a MailyHerald::PeriodicalMailing.
          required: true
          type: integer
          format: int64
        - name: entity_id
          in: path
          description: ID of a entity e.g. User.
          required: true
          type: integer
          format: int64
      responses:
        '200':
          description: Success
          schema:
            properties:
              mailPreview:
                $ref: '#/definitions/MailPreview'
        '404':
          description: MailyHerald::PeriodicalMailing or entity not found.
definitions:
  List:
    type: object
    description: Serialized MailyHerald::List object
    properties:
      id:
        type: integer
        description: List's ID
      name:
        type: string
        description: List's name based on title
      title:
        type: string
        description: List's title
      contextName:
        type: string
        description: List's context_name
      locked:
        type: boolean
        description: Indicates whether list is locked or not.
      subscribersCount:
        type: integer
        description: Number of List subscribers.
      optOutsCount:
        type: integer
        description: Number of inactive List subscriptions.
      potentialSubscribersCount:
        type: integer
        description: Number of potential List subscribers.
    required:
      - title
      - contextName
  Subscription:
    type: object
    description: Serialized MailyHerald::Subscription object
    properties:
      id:
        type: integer
        description: Subscription's ID
      entityId:
        type: integer
        description: Subscription's entity ID
      listId:
        type: integer
        description: Subscription's list ID
      active:
        type: boolean
        description: Indicates whether subscription is active or not.
      unsubscribeUrl:
        type: string
        description: Unsubscribe url.
      settings:
        type: object
        description: Various settings.
      data:
        type: object
        description: Various data.
    required:
      - entityId
      - listId
  Context:
    type: object
    description: Serialized MailyHerald::Context object
    properties:
      name:
        type: string
        description: Context's name.
      title:
        type: string
        description: Context's title.
      modelName:
        type: string
        description: Context's model name e.g. User.
      attributes:
        type: array
        description: Context's model attributes' keys.
        items:
          $ref: '#/definitions/ContextAttribute'
  ContextAttribute:
    type: object
    description: >-
      Contain key name and subkeys (if specified) of attributes, e.g.:
        [
          {"key"=>"name"},
          {"key"=>"email"},
          {"key"=>"created_at"},
          {"key"=>"weekly_notifications"},
          {
            "key"=>"properties",
            "subkeys"=>[{"key"=>"prop1"}, {"key"=>"prop2"}]
          }
        ]
    properties:
      key:
        type: string
      subkeys:
        type: array
        description: Context's model attributes' keys.
        items:
          $ref: '#/definitions/ContextAttribute'
  AdHocMailing:
    type: object
    description: Serialized MailyHerald::AdHocMailing object.
    properties:
      id:
        type: integer
        description: AdHocMailing's ID.
      name:
        type: string
        description: AdHocMailing's name based on title.
      title:
        type: string
        description: AdHocMailing's title.
      listId:
        type: integer
        description: ID of an associated MailyHerald::List object.
      subject:
        type: string
        description: AdHocMailing's subject.
      template:
        type: string
        description: AdHocMailing's template.
      mailerName:
        type: string
        description: AdHocMailing's mailer's name.
      conditions:
        type: string
        description: AdHocMailing's conditions.
      from:
        type: string
        description: >-
          AdHocMailing's alternative 'from' attribute.
      state:
        type: string
        description: AdHocMailing's state - can be either enabled, disabled or archived.
      locked:
        type: boolean
        description: Indicates whether mailing is locked or not.
    required:
      - name
      - title
      - subject
      - template
      - listId
  OneTimeMailing:
    type: object
    description: Serialized MailyHerald::OneTimeMailing object.
    properties:
      id:
        type: integer
        description: OneTimeMailing's ID.
      name:
        type: string
        description: OneTimeMailing's name based on title.
      title:
        type: string
        description: OneTimeMailing's title.
      listId:
        type: integer
        description: ID of an associated MailyHerald::List object.
      subject:
        type: string
        description: OneTimeMailing's subject.
      template:
        type: string
        description: OneTimeMailing's template.
      mailerName:
        type: string
        description: OneTimeMailing's mailer's name.
      conditions:
        type: string
        description: OneTimeMailing's conditions.
      from:
        type: string
        description: >-
          OneTimeMailing's alternative 'from' attribute.
      state:
        type: string
        description: OneTimeMailing's state - can be either enabled, disabled or archived.
      locked:
        type: boolean
        description: Indicates whether mailing is locked or not.
      startAt:
        type: string
        description: OneTimeMailing's delivery start time. E.g. 2017-10-24T11:11:55.526+02:00
    required:
      - name
      - title
      - subject
      - template
      - listId
      - startAt
  PeriodicalMailing:
    type: object
    description: Serialized MailyHerald::PeriodicalMailing object.
    properties:
      id:
        type: integer
        description: PeriodicalMailing's ID.
      name:
        type: string
        description: PeriodicalMailing's name based on title.
      title:
        type: string
        description: PeriodicalMailing's title.
      listId:
        type: integer
        description: ID of an associated MailyHerald::List object.
      subject:
        type: string
        description: PeriodicalMailing's subject.
      template:
        type: string
        description: PeriodicalMailing's template.
      mailerName:
        type: string
        description: PeriodicalMailing's mailer's name.
      conditions:
        type: string
        description: PeriodicalMailing's conditions.
      from:
        type: string
        description: >-
          PeriodicalMailing's alternative 'from' attribute.
      state:
        type: string
        description: PeriodicalMailing's state - can be either enabled, disabled or archived.
      locked:
        type: boolean
        description: Indicates whether mailing is locked or not.
      startAt:
        type: string
        description: PeriodicalMailing's delivery start time. E.g. 2017-10-24T11:11:55.526+02:00
      periodInDays:
        type: string
        description: PeriodicalMailing's delivery period in days. E.g. 7.00
    required:
      - name
      - title
      - subject
      - template
      - listId
      - startAt
      - periodInDays
  MailPreview:
    type: object
    description: Serialized Mail::Message object.
    properties:
      messageId:
        type: string
        description: Could be nil - if not sent.
      date:
        type: string
        description: Could be nil - if not sent.
      headers:
        type: array
        description: Array of email headers.
        items:
          $ref: '#/definitions/MailHeader'
      body:
        type: object
        description: Serialized Mail::Body object.
        properties:
          charset:
            type: string
            description: Charset e.g. US-ASCII
          encoding:
            type: string
            description: Encoding e.g. 7bit
          rawSource:
            type: string
            description: Email body.
  MailHeader:
    type: object
    description: Serialized Mail::Header object.
    properties:
      name:
        type: string
        description: Name of email header.
      value:
        type: string
        description: Value of email header.
  Meta:
    type: object
    description: Meta object.
    properties:
      pagination:
        $ref: '#/definitions/Pagination'
  Pagination:
    type: object
    description: Pagination object.
    properties:
      page:
        type: integer
        description: Current page of searched collection
      nextPage:
        type: integer
        description: Next page of searched collection (if null or false then it's the last page)
